.header {
    margin: 0;
    height: 100px;
    width: 100vw;
    background: transparent;
    border-bottom: 2px solid rgb(96, 96, 93);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    color:aliceblue;
    font-size: 2rem;
}